In [3]:
import pandas as pd

# Read data from CSV file
revenue_data_df = pd.read_csv("revenue_data.csv")

# Calculate average transaction revenue
average_transaction_revenue = revenue_data_df.groupby(['store_id', 'payment_method'])['revenue'].mean().reset_index()

# Reorder columns
average_transaction_revenue = average_transaction_revenue[['store_id', 'payment_method', 'revenue']]


display(average_transaction_revenue)
average_transaction_revenue.to_csv("average_transaction_payment_type.csv", index=False)

      store_id payment_method       revenue
0            1           Cash  13250.000000
1            1     Debit Card   6199.500000
2            1            UPI   5083.000000
3            3           Cash  23633.333333
4            3    Credit Card   8550.000000
...        ...            ...           ...
2317      2319     Debit Card  17363.333333
2318      2319            UPI  25500.000000
2319      2320           Cash   3400.000000
2320      2320    Credit Card   4784.000000
2321      2320            UPI  23800.000000

[2322 rows x 3 columns]